.main{
    display: inline-block;
    margin-left:5%; 
}
.tileImage{
    width:40%;
    float: left;
}
.tileContent{
    width:50%;
    float: left;
    margin-top: -35%;
    margin-left: 35%;
}
.imageClass > img{
    height: 400px;
    width:80%;
    margin-left: 3%;
    margin-top: 3%;
}
#cfeedback{
    margin-left:0%;
    color:green
}
.icons{
    display: inline-block;
    margin-left:2%
}
.icons >img{
    width: 50px;
    height:50px;
}

#stock{
    font-size: 30px;
    color:green
}

.button{
    height:48px;
    width:250px;
    font-size:20px;
}
#Atoc{
    background-color:green
}
.menu_box{
    height: 100%;
    background-color: rgb(177, 218, 225);
    margin-top: -1%;
    padding-top: 2%;
    padding-left: 2%;
}
.tab_info{
    margin-top: 33%;
}
.printed{
    margin-top: 5%;
    font-family: "Aclonica variant0";
    color: darkred;
}
.printed > h4{
    color: rgb(100, 122, 122);
}

.printed>h2{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslateblue;
}
.title_{
    background-color: rgb(192, 240, 192);
}
.order_buttons{
    margin-left: 60%;
}
